* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "MV BOLI";
}

html,
body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  font-size: 40px;
}

#main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 8px solid rgb(119, 156, 223);
}

#top {
  display: flex;
  position: relative;
  justify-content: space-around;
  width: 100vw;
  align-items: center;
  height: 50vh;
}

#bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
  width: 100vw;
}
#top #topleft div {
  background-color: rgb(225, 122, 248);
  border: 2px solid rgb(158, 158, 208);
  padding: 15px;
  border-radius: 10px;
}
#top #topright div {
  border: 2px solid rgb(158, 158, 208);
  background-color: rgb(255, 242, 0);
  padding: 15px;
  position: absolute;
  top: 35.6%;
  right: 25%;
  border-radius: 10px;
}

#bottom div {
  background-color: rgb(117, 202, 255);
  border: 2px solid rgb(158, 158, 208);
  padding: 20px;
  border-radius: 10px;
}
.containers {
  cursor: pointer;
}
#scissorop {
  transform: rotate(90deg);
}
#scissorcpu {
  transform: rotate(270deg);
}
#blank1,
#blank2 {
  height: 100px;
  width: 80px;
}
#blank2 {
  position: absolute;
  top: 35.6%;
  right: 24%;
}
#result {
  position: absolute;
  border: 2px solid black;
  padding: 15px;
  background-color: rgb(0, 255, 81);
  border-radius: 12px;
  text-align: center;
  font-size: 20px;
  animation: shake 0.5s ease-in-out infinite;
}
@keyframes shake {
  0%,
  100% {
    transform: rotate(2deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  75% {
    transform: rotate(0deg);
  }
}
